<%= turbo_frame_tag todo do %>
  <%= form_with(model: todo) do |form| %>
    <div class="row py-2 border-top">
      <div class="col-2">
        <%= todo.id %>
      </div>
      <div class="col-2">
        <%= form.text_field :name, class: 'form-control' %>
      </div>

      <div class="col-2">
        <%= form.date_field :start, class: 'form-control' %>
      </div>

      <div class="col-2">
        <%= form.date_field :end, class: 'form-control' %>
      </div>

      <div class="col-2">
        <%= form.number_field :progress, class: 'form-control' %>
      </div>

      <div class="col-2">
        <div class="d-flex justify-content-end">
          <%= form.submit 'Update Todo', class: 'btn btn-primary' %>
          <%= link_to "Cancel", todo, class: "btn btn-secondary" %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

