<%= turbo_frame_tag todo do %>
  <%= form_with(model: todo, data: { action: "turbo:submit-end->modal#close" }) do |form| %>
    <%= form.text_field :name, class: 'form-control' %>
    <%= form.date_field :start, class: 'form-control' %>
    <%= form.date_field :end, class: 'form-control' %>
    <%= form.number_field :progress, class: 'form-control' %>

    <div class="d-flex justify-content-end">
      <%= form.submit caption, class: "btn btn-primary" %>
      <%= link_to "Cancel", todo, class: "btn btn-secondary" %>
    </div>
  <% end %>
<% end %>

