<div id="<%= dom_id todo %>">
  <p>
    <strong>Name:</strong>
    <%= todo.name %>
  </p>

  <p>
    <strong>Start:</strong>
    <%= todo.start %>
  </p>

  <p>
    <strong>End:</strong>
    <%= todo.end %>
  </p>

  <p>
    <strong>Progress:</strong>
    <%= todo.progress %>
  </p>

</div>
