<p style="color: green"><%= notice %></p>

<h1>Todos</h1>

<%= search_form_for(
  @search,
  html: {
    data: {
      turbo_frame: "todos-list",
      controller: "todo",
      action: "input->todo#submit"
    }
  }) do |f| %>
  <%= f.label :name_cont, '名前' %>
  <%= f.search_field :name_cont %>

  <%= link_to 'クリア', todos_path, class: 'btn btn-secondary' %>
<% end %>

<div id="todos">
  <%= turbo_frame_tag "todos-list", data: { turbo_action: :advance } do %>
    <div class="card shadow mt-3">
      <div class="card-body">
        <div class="row py-2">
          <div class="col-2 mt-auto">
            <%= sort_link(@search, :id, 'id') %>
          </div>
          <div class="col-2 mt-auto">
            <%= sort_link(@search, :name, '名前') %>
          </div>
          <div class="col-2 mt-auto">
            <%= sort_link(@search, :start, '開始日') %>
          </div>
          <div class="col-2 mt-auto">
            <%= sort_link(@search, :end, '終了日') %>
          </div>
          <div class="col-2 mt-auto">
            進捗
          </div>
          <div class="col-2 d-flex justify-content-end">
            <%= link_to "New todo", new_todo_path, class: 'btn btn-primary', data: { turbo_frame: "modal" } %>
          </div>
        </div>
        <div id="todos-contents">
          <%= render @todos %>
        </div>
      </div>
    </div>
    <%= paginate @todos %>
    <div id="gantt" data-controller="gantt" data-todos="<%= j @todos.to_json %>"></div>
  <% end %>
</div>
